@charset "utf-8";
/* CSS Document */
@font-face {
font-family: Museo-100;
src: url('../assets/Museo100-Regular.otf');
}
@font-face {
font-family: Museo-300;
src: url('../assets/Museo300-Regular.otf');
}
@font-face {
font-family: Museo-500;
src: url('../assets/Museo500-Regular.otf');
}
@font-face {
font-family: Museo-700;
src: url('../assets/Museo700-Regular.otf');
}
@font-face {
font-family: Museo-900;
src: url('../assets/Museo900-Regular.otf');
}
::-webkit-scrollbar { 
    display: none; 
}
html{
  height: 100%;
  margin:0 auto;
  max-width: 1280px;
  
}

body {
	min-height: 100%;
	color: black; 	
	
	background-repeat:repeat;
	
}

		.sidebar {
			float: right;
			width: 340px /*240px*/;
			height: 85%;
		}
		

#myName {
	font-size: 24px;
	font-family: Tahoma;
	font-weight: 300;
	margin-left: 10px;

}

#panel {
	width: 300 px /*230px*/;
	display: none;
	font-family: Tahoma;
	font-size: 18px;
	height: 85%;
	overflow-y: scroll;
	color: rgb(74,217,217);
}

#friendList {
	height: auto;
	overflow-y: scroll;
	background-color: #fff;
	color: black;
}

#panel li {
	list-style: none;
	line-height: 40px;
	vertical-align: middle;
	background-color: #f0f0f0;
}

#panel li:hover {
	background-color: #3631bf;
	color: #fefefe;
	cursor: pointer;
}

.friendPicture {
	height: 30px;
	width: 30px;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

		.container {
			background-color: white;
			margin-left: 10px;
			margin-right: 370px; /*270*/
		}
		
		.borderprop{
			 border: 0px black solid; 
		}
		
		.chatbox{
			
			margin-right: 180px;
			height: 100%;	
		}
		.chattitle {
			margin: 10px;
			padding: 10px;
			font-size: 24px;
			font-family: Tahoma;
		
		}
		
		.chatlist{
			max-height:79%;
			margin: 10px;
			#background-color: rgb(233,241,223);
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.leftbubble{
			width: 51%;
			float: left;
			margin: 10px;
			padding: 5px;
			background-color: rgb(242,56,90);
			border-bottom: 15px solid rgb(255,255,255);
			border-left: 15px solid rgba(0,0,0,0);
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 13px 25px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			-moz-border-radius-bottomright: 13px 25px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 13px 25px;
			font-size: 18px;
			color: white;
			font-family: Tahoma;
		}
		.rightbubble{
			width: 51%;
			float: right;
			margin: 10px;
			padding: 5px;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-left-radius: 13px 25px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			-moz-border-radius-bottomleft: 13px 25px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			border-bottom-left-radius: 13px 25px;
			background-color:rgb(233,241,223);
			background-image: url('../assets/bg-white-grainy.png');
			opacity: 0;
			font-size: 18px;
			font-family: Tahoma;
			transition: padding 1s;
			 border-bottom: 15px solid rgb(255,255,255);
			 border-right: 15px solid rgba(0,0,0,0);
		}
		
		.active{
			color: rgb(0,0,0,0);
			
		}
		.chatinput {
			margin: 10px;
			
		}
		
		
		
		
		
		
		.sendbutton {
			background-color:rgb(74,217,217);
			border-style: none; 
			border-color: Transparent; 
			height: 100%;
			
		}
		
		 textarea { 
			border-style: none; 
			border-color: Transparent; 
			overflow: auto;     
			overflow-y:hidden;
			font: 100%/120% Verdana, Arial, Helvetica, sans-serif;
			background-color:  rgb(233,241,223);
		}
		.filebox{
			float: right;
			width: 0px;  /*170*/
			height: 85%;
			font-family: Tahoma;
		}
		
		.display-none {
			display: none;
		}
		
		.filetitle {
			margin: 10px;
			padding: 10px;
			font-size: 24px;
			font-family: Museo-300;
		}
		
		.fileinitem {
			width: 100%;
			height: 100%;
			background-image: url('../assets/yellowbox.png');
			background-color: rgb(245,165,3);
			background-size: contain;
			cursor: pointer;
			border: none;
		}
		
		.filename {
			font-size: 48px;
			text-align:center;
		}
		
		.fillinback {
			background-color: rgb(54,177,191);
			color: rgb(233,241,223);
			
		}